/*username.html*/

* {
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
}

#chat-header {
    background-color: #3DADFF;
}

#main-container {
    background-color: #9BDBFF;
}

#main-iframe {
    opacity: 0;
    /*right: 4em;*/
    transition: 1s;
    height: 90%;
    width: 25%;
}

/*username.html*/
#iframe-main-container {
    transition: transform 0.3s;
}

#username-logo {
    width: 3em;
}

#start-chat-button {
    width: 70%;
    margin-bottom: 15px;
    background-color: #3DADFF;
    border: 0;
    border-radius: 10px;
    color: #fff;
}

/*@Kelompok 1 PemWeb E Semester Genap 2023/2024*/

#start-chat-button:hover {
    transform: scale(1.03);
    transition: transform .3s;
    color: white;
    background-color: rgba(51,152,216,0.68);
}

#start-chat-button:not(:hover) {
    transform: scale(1);
    transition: transform .5s;
}

#start-chat-button:active{
    transform: scale(1);
    background-color: rgba(51,152,216,0.75);
}

#fab-login {
    right: 4em;
    bottom: 3em;
    background-image: url("../images/logo-icon.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;
    transition: ease-in-out 0.5s, transform 0.25s;
}

#fab-login:hover {
    background-blend-mode: darken;
    background-color: lightgray;
    transform: scale(1.05);
}

#fab-login:active {
    transform: scale(0.95);
    background-color: lightgoldenrodyellow;
}


/*settings.html*/
#user-profile-box{
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

#user-profile-box-header{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 0;
    padding-block: 1em;
    padding-left: 1.5em;
    background-color: #3DADFF;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

#chat-box-logo-white{
    width: 1.25em;
    height: 1.25em;
    margin-right: 1.2em;
}

#text-header{
    align-content: center;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

#user-profile-box-info {
    display: flex;
    flex-direction: column;
    margin-top: 1.75em;
    align-items: center;
    margin-bottom: .75em;
}

#photo-profile {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    margin-bottom: 1em;
}

#username {
    font-size: 1rem;
}

#user-profile-contents {
    padding-inline: 1.5em;
}

#user-profile-box-change label{
    color: #413e3e;
    margin-bottom: .75em;
}

#user-profile-box-change input{
    border-color: #9d9d9d;
}

label {
    font-size: .8rem;
}

#new-photo {
    width: 75%;
    margin-bottom: 1em;
}

#new-username {
    width: 75%;
    border-radius: 2em;
    padding-block: .5em;
    padding-inline: 1em;
    font-size: .75rem;
    margin-bottom: .75em;
}

#save-button {
    background-color: #3DADFF;
}

#back-button{
    background-color: #9d9d9d;
}

#save-button:hover{
    background-color: #3b97e1;
}

#back-button:hover{
    background-color: darkgrey;
}


#breadcrumbs-container {
    background-image: url("../images/breadcrumbs.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#send-message-button {
    background-image: url("../images/send-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#chat-body {
    top: 12%;
    max-height: 79%;
    padding-bottom: .5em;
}

#message-text-area::placeholder {
    color: gray;
}

