* {
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
}

#main-container {
    background-color: #9BDBFF;
}

#main-iframe {
    opacity: 0;
    /*right: 4em;*/
    transition: 1s;
    height: 90%;
    width: 25%;
}

#iframe-main-container {
    transition: transform 0.3s;
}

#username-logo {
    width: 3em;
}

#start-chat-button {
    width: 70%;
    margin-bottom: 15px;
    background-color: #3DADFF;
    border: 0;
    border-radius: 10px;
    color: #fff;
}

#start-chat-button:hover {
    transform: scale(1.03);
    transition: transform .3s;
    color: white;
    background-color: rgba(51,152,216,0.68);
}

#start-chat-button:not(:hover) {
    transform: scale(1);
    transition: transform .5s;
}

#start-chat-button:active{
    transform: scale(1);
    background-color: rgba(51,152,216,0.75);
}

#fab-login {
    right: 4em;
    bottom: 3em;
    background-image: url("../images/logo-icon.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;
    transition: ease-in-out 0.5s, transform 0.25s;
}

#fab-login:hover {
    background-blend-mode: darken;
    background-color: lightgray;
    transform: scale(1.05);
}

#fab-login:active {
    transform: scale(0.95);
    background-color: lightgoldenrodyellow;
}

#chat-header {
    background-color: #3DADFF;
    z-index: 1;
}

#chat-footer {
    z-index: 1;
}

#chat-body {
    top: 0;
    max-height: 100%;
    z-index: 0;
    padding-top: 7.5%;
    padding-bottom: 5.5%;
}

@media screen {
    @media (max-width: 1000px) {
        #chat-table-container {
            padding-top: 8.5%;
            padding-bottom: 6.5%;
        }
        #main-iframe {
            width: 35%;
        }
    }
    @media (max-width: 890px) {
        #chat-body {
            padding-top: 9.5%;
            padding-bottom: 7.5%;
        }
    }
    @media (max-width: 785px) {
        #chat-body {
            padding-top: 10.5%;
            padding-bottom: 9.5%;
        }
    }
    @media (max-width: 715px) {
        #chat-body {
            padding-top: 11.5%;
            padding-bottom: 10.5%;
        }
    }
    @media (max-width: 715px) {
        #chat-body {
            padding-top: 15.5%;
            padding-bottom: 11.6%;
        }
        #main-iframe {
            width: 50%;
        }
    }
    @media (max-width: 495px) {
        #chat-body {
            padding-top: 17.5%;
            padding-bottom: 13.6%;
        }
        #main-iframe {
            width: 60%;
        }
    }

}

label {
    font-size: .8rem;
}

#edit-username-button {
    background-image: url("../images/edit-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 13%;
}

#send-message-button {
    background-image: url("../images/send-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#message-text-area::placeholder {
    color: gray;
}

